@model Product

<div class="text-center">
    <h1 class="display-4">Add Category!</h1>
    <a href="/products"><p>Products</p></a>
    <form asp-controller="Category" asp-action="CreateCategory" method="POST">
        <div>
            <label asp-for="Name">Name: </label>
            <span asp-validation-for="Name"></span>
            <input asp-for="Name"/>
        </div>
        <input type="submit" value="Add Category"/>
    </form>
</div>