@model List<Category>;

<div class="card">
    <div class="card-header bg-dark text-light">Categories</div>
    <div class="card-body">
        <table>
            <thead>
                <th>Name</th>
            </thead>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td><a href="/categories/@cat.CategoryId">@cat.Name</a></td>
                    </tr>
                }
        </table>
    </div>
</div>