@model Category

<div class="text-center">
    <a href="/categories"><p>Categories</p></a>
    <h1 class="display-4">@Model.Name</h1>
    <div class="card-header bg-dark text-light">
      <div>
        @{
          SortedProduct newSortProd = new SortedProduct()
          {
            ProductId = Model.CategoryId
          };
        }
        <partial name="_AddProduct" model ="@newSortProd"></partial>
      </div>
      <div>Categories:</div>
      <ul>
        @foreach(SortedProduct sortProd in @Model.SortedProducts)
        {
          <li>@sortProd.Product.Name</li>
        }
      </ul>
    </div>
    <div class="card-body">
</div>